<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ta_pam_astore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AStore"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TA_PAM_AStore">
        <activity
            android:name=".EditBarang"
            android:exported="false"
            android:parentActivityName=".DaftarBarang"/>
        <activity
            android:name=".ProfilActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".DaftarBarang"
            android:exported="false"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".TambahBarang"
            android:exported="false"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>